.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.animationContainer {
    position: relative;
    width: min(calc(200px * var(--scale-size, 1)), 100%);
    height: min(calc(150px * var(--scale-size, 1)), 100%);
    aspect-ratio: 4/3;
    will-change: transform;
}

.gavelContainer {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 100%;
    animation: gavelAnimation 2s infinite cubic-bezier(0.7, 1.25, 0.7, 0.9);
    transform-origin: center left;
}

.gavel {
    width: 50%;
    height: auto;
}

.panelContainer {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 25%;
    animation: panelAnimation 2s infinite ease-in-out;
    transform-origin: center;
}

.panel {
    width: 50%;
    height: auto;
}

@keyframes gavelAnimation {
    0% {
        transform: rotate(-45deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    55% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes panelAnimation {
    0%, 35%, 45%, 50%, 60%, 100% {
        transform: translateY(0) scaleY(1);
    }
    40%, 55% {
        transform: translateY(1%) scaleY(0.85);
    }

}