.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.animationContainer {
    position: relative;
    width: min(calc(200px * var(--scale-size, 1)), 100%);
    height: min(calc(150px * var(--scale-size, 1)), 100%);
    aspect-ratio: 4/3;
    will-change: transform;
    background-color: black;
}

.gavelContainer {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 100%;
    animation: gavelAnimation 1.5s infinite ease-in-out;
    transform-origin: center left;
}

.gavel {
    width: 50%;
    height: auto;
}

.panelContainer {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 25%;
    animation: panelAnimation 1.5s infinite ease-in-out;
    transform-origin: center;
}

.panel {
    width: 50%;
    height: auto;
}

@keyframes gavelAnimation {
    0%, 100% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(0);
    }
}

@keyframes panelAnimation {
    0%, 100% {
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.9);
    }
    75% {
        transform: scaleY(1);
    }
}