.container {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2px 0;
  margin: 0;
  aspect-ratio: 1/1;
}

.logo {
  width: min(calc(375px * var(--scale-size, 1)), 100%);
  height: min(calc(375px * var(--scale-size, 1)), 100%);
  aspect-ratio: 1/1;
}
